@import 'node_modules/modern-normalize/modern-normalize.css';
@import "./utils/variables";
@import "./components/page-header";
@import "./components/hero";
@import "./components/modal";
@import "./components/features";
@import "./components/activities";
@import "./components/people-list";
@import "./components/clients";
@import "./components/nav-buttons";
@import "./components/portfolio";
@import "./components/page-footer";

body {
    background-color: $heroColor;
    color: $primaryColor;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
