.footer {
  background-color: $bgColor;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    @include container();
    @media screen and(max-width: 767px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      column-gap: 165px;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 0;
      display: flex;
    }
  }
  &-nav {
    &__logo {
      display: inline-block;
      color: $heroColor;
      text-decoration: none;
      font-family: Raleway, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.6;
      &-span {
        color: $accentColor;
      }
      @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-bottom: 20px;
      }
    }
  }
}
address {
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
    margin-right: 70px;
  }
}
.footer-nav {
  @media screen and(max-width:767px) {
    margin-bottom: 60px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  &__link {
    color: $heroColor;
    line-height: 1.17;
    font-style: normal;
    &-a {
      @include transitionBase();
      color: rgba(255, 255, 255, 0.6);
      &:hover,
      &:focus {
        color: $accentColor;
      }
    }
  }
}
.footer-right {
  &__title {
    @include fontPreset(700, 14px, 16px, 00.03em);
    margin-bottom: 20px;

    text-transform: uppercase;
    color: $heroColor;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__link {
    @extend %social-link;
    @include transitionBase(background-color);

    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      color: $heroColor;
      background-color: $accentColor;
    }
  }

  &__icon {
    @extend %social-icon;

    fill: $heroColor;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-bottom: 0%;
  }
}
.join {
  &__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
    @media screen and(max-width:767px) {
      text-align: center;
    }
    @media screen and(min-width:1200px) {
      text-align: left;
    }
  }
  &__input {
    @include transitionBase();
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 13px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(47, 48, 58, 1);
    color: $heroColor;
    &::placeholder {
      padding-left: 0;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.15;
      letter-spacing: 0.03em;
      color: inherit;
    }
    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 12px;
      width: 358px;
    }
  }
  &__button {
    @include buttonSet(
      inline-flex,
      200px,
      50px,
      8px,
      29px,
      $accentColor,
      $heroColor
    );
    @include centeredFlex(inline-flex);
    @include transitionBase(background-color);
    @include fontPreset(700, 16px, 30px, 00.06em);

    border: none;

    margin: 0;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

    font-style: normal;

    &:hover,
    &:focus {
      background-color: #188ce8;
    }

    &::after {
      content: "";
      display: inline-block;

      width: 24px;
      height: 20px;

      margin-left: 10px;
      background-image: url(../images/send.svg);
    }
  }
}

// .nav-footer {
//   display: block;
//   justify-content: flex-start;
// }
// .nav-footer__list {
//   list-style: none;
//   padding-left: 0;
//   @media screen and (min-width: 1200px) {
//     text-align: left;
//     margin-bottom: 0px;
//     margin-right: 70px;
//   }
// }

// .nav-footer__logo .colortext {
//   color: $accentColor;
// }

// .nav-footer__logo {
//   display: block;
//   color: $heroColor;
//   text-decoration: none;
//   font-family: Raleway, sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   @media screen and (max-width: 1199px) {
//     margin-bottom: 20px;
//   }
// }

// .nav-footer__title a {
//   color: $primaryColor;
//   text-decoration: none;
//   list-style: none;
//   font-style: normal;
//   line-height: 1.71;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .nav-footer__link {
//   margin-top: 9px;
//   text-decoration: none;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 24px;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
// }

// .nav-footer__title a {
//   color: $heroColor;
// }

// .nav-footer__title :hover,
// .nav-footer__title:focus {
//   color: $accentColor;
// }

// .nav-footer__link:hover,
// .nav-footer__link:focus {
//   color: $accentColor;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .join {
//   display: block;
//   @media screen and (max-width: 1199px) {
//     margin-top: 60px;
//   }
// }

// .footer-right {
//   &__title {
//     @include fontPreset(700, 14px, 16px, 00.03em);
//     margin-bottom: 20px;

//     text-transform: uppercase;
//     color: $heroColor;
//   }

//   &__list {
//     display: flex;
//     gap: 10px;
//     justify-content: center;
//   }

//   &__link {
//     @extend %social-link;
//     @include transitionBase(background-color);

//     background-color: rgba(255, 255, 255, 0.1);

//     &:hover,
//     &:focus {
//       color: $heroColor;
//       background-color: $accentColor;
//     }
//   }

//   &__icon {
//     @extend %social-icon;

//     fill: $heroColor;
//   }

//   @media screen and (max-width: 1199px) {
//     margin-bottom: 60px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-right: auto;
//     margin-bottom: 0%;
//   }
// }

// .join__email {
//   @media screen and (min-width: 1200px) {
//     margin-left: auto;
//   }
//   @media screen and (max-width: 1199px) {
//     justify-content: center;
//     align-items: center;
//     margin-top: 60px;
//   }
// }

// .join__input::placeholder {
//   padding-left: 0;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
// }

// .join__title {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: #ffffff;
//   margin: 0;
//   margin-bottom: 20px;
//   @media screen and (max-width: 1199px) {
//     display: block;
//     text-align: center;
//   }
// }

// .join__input {
//   width: 100%;
//   height: 50px;
//   display: block;
//   margin: 0 auto;
//   background-color: rgba(47, 48, 58, 1);
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   padding: 13px 16px;
//   color: $heroColor;
//   @media screen and (min-width: 768px) {
//     width: 450px;
//   }
//   @media screen and (min-width: 1200px) {
//     display: inline-block;
//     margin-right: 12px;
//     width: 358px;
//   }
// }

// .join__button button {
//   width: 200px;
//   height: 50px;
//   color: $heroColor;
//   background-color: $accentColor;
//   border: none;
//   border-radius: 4px;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 30px;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;
//   padding-left: 28px;
//   padding-right: 62px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   background-image: url(../images/icon\ send-min.svg);
//   background-repeat: no-repeat;
//   background-position: 83.31% 50%;
//   margin-left: 12px;
//   display: inline-flex;
// }
// .join__button {
//   @media screen and (max-width: 1199px) {
//     margin-top: 20px;
//   }
// }

// .join__form {
//   @media screen and (min-width: 768px) {
//     width: 450px;
//     display: inline-block;
//     align-items: center;
//     justify-content: center;
//   }

//   @media screen and (min-width: 1200px) {
//     display: inline-flex;
//     margin-bottom: 0;
//     margin-right: 12px;
//     width: 358px;
//   }
// }
