  $primaryColor: rgb(117, 117, 117);
  $accentColor: rgb(32, 148, 243);
  $heroColor: rgb(255, 255, 255);
  $bgColor: rgb(48, 49, 59);
  $additionalColor: rgba(255, 255, 255, 0.6);
  $buttonColor: rgb(245, 244, 250);
  $borderColor: rgba(236, 236, 236, 1);
  $titleColor: rgb(33, 33, 33);



  